body {
    margin: 0;
    box-sizing: border-box;
}


/********************** HEADER -- START **********************/

header{
    background-image: url(/IMG/PicsArt_09-30-07.30.35.jpg);
    background-size: cover;
}

.header1 {
    position: relative;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.82; /* Adjust opacity value here */
    z-index: -1; /* Keeps the background behind content */
}

.left {
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
    height: 120px;
    display: grid;
    place-items: center;
}

.logo img {
    height: 90px; 
    margin: 0;
}

.title pre {
    font-family: Arial, Helvetica, sans-serif;
    margin: -5px 0;
    color: #000000;
}

.right{
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
}

.right img{
    width: 27px;
    margin: 0 10px;
}

.dropdown .translate img 
{
    margin-top: 16px;
}

/* SEACRH BAR */

.search-container {
    position: relative;
    width: 300px;
    margin-top: 4px;
  }
  
  #search-input {
    width: 100%;
    padding: 8px;
    padding-right: 40px; /* Add padding to make space for the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 2px rgb(51, 50, 50);
  }
  
  .icon {
    position: absolute;
    top: 46%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  
  .icon:hover {
    color: #000;
  }
  
  #suggestions-box {
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
    display: none;
    z-index: 2004;
  }
  
  #suggestions-box div {
    padding: 8px;
    cursor: pointer;
  }
  
  #suggestions-box div:hover,  #suggestions-box div.active {
    background-color: #7a6f6f;
  }

  /* SEACRH BAR END*/



/* log-in / sign-up button -- START */
.right .button-container button{
    margin: 10px 10px;
    color: #fff;
    background-color: orangered;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40px;
    padding: 11px 20px;
    font-size: 14px;
    margin-left: 20px;
}

.right .button-container button:hover
{
    cursor: pointer;
    background-color: #03618d;
    color: #fff;
}
/* log-in / sign-up button -- END */



/* Modal pop-up Styles -- START*/
.modal 
{
    font-family: Arial, sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content 
{
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="tel"] 
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container 
{
    display: none;
}

.modal-content button 
{
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover 
{
    background-color: #0056b3;
}
/* Modal pop-up Styles -- END*/


/* translate button -- START */
.header1 .right .translate
{
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.translate:hover
{
    cursor: pointer;
}
/* translate button -- END */


/* account button -- START */
.header1 .right .account
{
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.account:hover
{
    cursor: pointer;
}
/* account button -- END */


/* Sidebar Styles -- START */
.sidebar {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.sidebar-content {
    padding: 20px;
}

.close-sidebar {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

.sidebar a {
    color: white;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar button 
{
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar button:hover 
{
    background-color: #0056b3;
}
/* Sidebar Styles -- END */



/* Navbar -- START */
.navbar {
    color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 10%;
    align-items: center;
    backdrop-filter: blur(35px);
    z-index: 1000;
    background: 	linear-gradient(to top,   transparent, #8d8ccf50 .1%, transparent 50%),
	linear-gradient(to right,  #8d8ccf50 0%, transparent 30%),
	linear-gradient(to bottom, transparent, #8d8ccf50 .1%, transparent 50%),
	linear-gradient(to left,   #8d8ccf50 0%, transparent 30%);
}

.navbar .bar {
    position: relative;
}

.navbar .bar a {
    text-decoration: none;
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
    -webkit-transition: 0.2s ease;  
}

.navbar .bar :hover{
    color: orangered ;
} 

.navbar .bar a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:darkgreen; /* Color of the underline */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.navbar .bar a:hover::after {
    color: #ff6363;
    transform: scaleX(1);
    transform-origin: center;
}




/* Dropdown container */
.dropdown {
    display: inline-block;
    position: relative;
    z-index: 100; /* Dropdown should be on top of slider */
}

/* Dropdown button */
.dropdown button {
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 6px 0 0 0;
    cursor: pointer;
    position: relative; /* Position relative for the hover effect */
    padding-bottom: 5px; /* Match the padding with the links */
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    
}

.dropdown button a
{
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 19px;
}

/* Hover effect for the button */
.dropdown button a:hover {
    color: orangered; 
}

.dropdown button a::after {
    content: "";
    position: absolute;
    width: 100%;    
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkgreen; /* Underline color */
    transform: scaleX(0); /* Start with no underline */
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.dropdown button a:hover::after {
    transform: scaleX(1); /* Animate to full width */
    transform-origin: center;
}

/* Dropdown content */
.dropdown-content {
    display: block; /* Set to block but initially hidden */
    opacity: 0; /* Start as invisible */
    visibility: hidden; /* Hides the element completely */
    position: absolute;
    margin-top: 6.3px;
    z-index: 100; /* Ensure dropdown content stays above everything */
    transition: opacity 0.5s ease, visibility 1s ease; /* Smooth transition */
}

/* Dropdown content links */
.dropdown-content a {
    width: 100%;
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: rgb(111, 183, 214);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color changes */
}

.dropdown-content a:hover {
    background-color: rgb(2, 94, 134);
    color: #fff; /* Smooth transition for hover effects */
}

/* Smooth display of dropdown content when hovering over the dropdown */
.dropdown:hover .dropdown-content {
    opacity: 1; /* Become fully visible */
    visibility: visible; /* Make it visible */
}


.selected img {
    width: 11px;
    margin-top: 2px;
    opacity: 0.7;
}
/* Navbar -- END */

/********************** HEADER -- END **********************/

/********************** FOOTER -- START **********************/

footer
{
    margin: 0;
    width: 100%;
    position: static;    
    bottom: 0;
    overflow: hidden;
    padding: 10px 20px;
    background-color: #2f4f4f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: wheat;
    box-sizing: border-box;
}

.footer-main
{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-main .upper
{
    display: flex;
    justify-content: space-between;
    margin: 0 10% 20px 10% ;

}

.logoholder
{
    width: 20%;
}

.implink
{
    width: 60%;
    display: flex;
    flex-direction: row;
}

.implink div
{
    width: 23.3%;
    margin: 0 5%;
}

.implink p 
{
    font-weight: 600;
    font-size: 21px;
}

.implink ul
{
    list-style: square;
    padding: 0;
}

.implink li
{
    margin: 0 0 0 10%;
    font-size: 16px;
}

.implink a
{
    text-decoration: none;
    color: whitesmoke;
}

.contact-us
{
    /* width: 25%; */
}

.contact-us p
{
    font-weight: 600;
    font-size: 20px;
}

.contact-us ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.contact-us ul li
{
    padding: 0 10px 0 0;
}

.contact-us div i 
{
    color: #ffffff; 
}

.fa-phone
{
    transform: rotateY(180deg);
}

.footer-main .lower
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4%;
}

.rights
{
    font-size: 16px;
}

.govtweb
{
    padding-right: 10%;
}

.govtweb img
{
    margin-right: 20px;
}

/********************** FOOTER -- END **********************/